<div class="container--timer">
  <div class="timer">
    <div class="timer__tuning">
      <input type="text" id="datetime-picker" class="timer__date-input" />
      <button type="button " class="timer__button" data-start>Start</button>
    </div>

    <ul class="timer__numbers">
      <li class="timer__field">
        <span class="timer__value" data-days>00</span>
        <span class="timer__label">Days</span>
      </li>
      <li class="timer__field">
        <span class="timer__value" data-hours>00</span>
        <span class="timer__label">Hours</span>
      </li>
      <li class="timer__field">
        <span class="timer__value" data-minutes>00</span>
        <span class="timer__label">Minutes</span>
      </li>
      <li class="timer__field">
        <span class="timer__value" data-seconds>00</span>
        <span class="timer__label">Seconds</span>
      </li>
    </ul>
  </div>
</div>
